<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- API信息:[lowcode_api_info] -->
<mapper namespace="io.github.wujun728.api.core.mapper.ApiInfoMapper">
	<!-- 基本查询语句 -->
	<sql id="select_entity_sql">
		select t.api_id, t.source_id, t.group_name, t.database_name, t.api_name, t.api_path,
		t.table_name, t.page_flag,
		t.api_type, t.`sql`, t.params, t.op_type, t.remark, t.param_type,
		t.create_time, t.update_time, t.create_by, t.update_by, t.state , d.source_name
		from lowcode_api_info t
		left join lowcode_data_source d on t.source_id = d.source_id
	</sql>

	<!-- 查询条件 -->
	<sql id="query_where_cond">
		<if test="apiId != null"> and t.api_id = #{apiId}</if>
		<if test="apiIds != null and apiIds !=''"> and t.api_id in (${apiIds})</if>
		<if test="noApiId != null"> and t.api_id != #{noApiId}</if>
		<if test="sourceId != null"> and t.source_id = #{sourceId}</if>
		<if test="groupName != null"> and t.group_name = #{groupName}</if>
		<if test="tableName != null"> and t.table_name = #{tableName}</if>
		<if test="pageFlag != null"> and t.page_flag = #{pageFlag}</if>
		<if test="databaseName != null and databaseName != ''"> and t.database_name = #{databaseName}</if>
		<if test="databaseNameLike != null and databaseNameLike != ''"> and t.database_name LIKE concat('%', #{databaseNameLike}, '%')</if>
		<if test="apiName != null and apiName != ''"> and t.api_name = #{apiName}</if>
		<if test="apiPath != null and apiPath != ''"> and t.api_path = #{apiPath}</if>
		<if test="apiPathLike != null and apiPathLike != ''"> and t.api_path LIKE concat('', #{apiPathLike}, '%')</if>
		<if test="apiNameLike != null and apiNameLike != ''"> and t.api_name LIKE concat('%', #{apiNameLike}, '%')</if>
		<if test="apiType != null and apiType != ''"> and t.api_type = #{apiType}</if>
		<if test="apiTypeLike != null and apiTypeLike != ''"> and t.api_type LIKE concat('%', #{apiTypeLike}, '%')</if>
		<if test="sql != null and sql != ''"> and t.`sql` = #{sql}</if>
		<if test="params != null and params != ''"> and t.params = #{params}</if>
		<if test="opType != null and opType != ''"> and t.op_type = #{opType}</if>
		<if test="opTypeLike != null and opTypeLike != ''"> and t.op_type LIKE concat('%', #{opTypeLike}, '%')</if>
		<if test="createTimeStart != null and createTimeStart != ''"><![CDATA[ and t.create_time >= #{createTimeStart} ]]></if>
		<if test="createTimeEnd != null and createTimeEnd != ''"><![CDATA[ and t.create_time <= #{createTimeEnd} ]]></if>
		<if test="createBy != null"> and t.create_by = #{createBy}</if>
		<if test="updateBy != null"> and t.update_by = #{updateBy}</if>
		<if test="state != null and state != ''"> and t.state = #{state}</if>
		<if test="paramType != null and paramType != ''"> and t.param_type = #{paramType}</if>
	</sql>

	<!-- 分页查询 -->
	<select id="selectListByMap" parameterType="map" resultType="io.github.wujun728.api.core.vo.ApiInfoVo">
		<include refid="select_entity_sql"/>
		<where>
		<include refid="query_where_cond"/>
			and t.state = 'Y'
		</where>
		<if test="sortName != null and sortName != ''">
			order by t.${sortName} 
			<if test="sortOrder != null and sortOrder != ''">${sortOrder}</if>
		</if>
		<if test="sortName == null or sortName ==''">
			order by t.create_time desc 
		</if>
		<if test="pageIndex != null and pageSize != null">
			limit ${(pageIndex-1)*pageSize },${pageSize}
		</if>
	</select>

	<!-- 查询分组 -->
	<select id="selectApiGroups" parameterType="map" resultType="java.lang.String">
		select distinct group_name from lowcode_api_info t
		<where>
			<include refid="query_where_cond"/>
			and t.state = 'Y'
		</where>
	</select>

	<!-- 查询 -->
	<select id="selectBaseListByMap" parameterType="map" resultType="io.github.wujun728.api.core.vo.ApiBaseVo">
		select t.api_id,
		IFNULL(t.source_id,0) as source_id,
		IFNULL(d.source_name,'默认数据源') as source_name,
		t.group_name, t.api_name, t.api_path,
		t.api_type, t.op_type, t.database_name, t.table_name
		from lowcode_api_info t
		left join lowcode_data_source d on t.source_id = d.source_id
		<where>
		<include refid="query_where_cond"/>
			and t.state = 'Y'
		</where>
		<if test="sortName != null and sortName != ''">
			order by t.${sortName}
			<if test="sortOrder != null and sortOrder != ''">${sortOrder}</if>
		</if>
		<if test="sortName == null or sortName ==''">
			order by t.create_time desc
		</if>
		<if test="pageIndex != null and pageSize != null">
			limit ${(pageIndex-1)*pageSize },${pageSize}
		</if>
	</select>

	<!-- 查询总数 -->
	<select id="selectCountByMap" parameterType="map" resultType="long">
		select count(1) from lowcode_api_info t
		<where>
			<include refid="query_where_cond"/>
			and t.state = 'Y'
		</where>
	</select>

	<!-- 根据ID查询 -->
	<select id="selectById" parameterType="Integer" resultType="io.github.wujun728.api.core.vo.ApiInfoVo">
		<include refid="select_entity_sql"/>
		where t.api_id = #{apiId} and t.state = 'Y'
	</select>

	<!-- 修改ByMap -->
	<update id="updateByMap" parameterType="map">
		update lowcode_api_info t 
		<set>
			<if test="sourceIdNew != null"> t.source_id = #{sourceIdNew},</if>
			<if test="databaseNameNew != null"> t.database_name = #{databaseNameNew},</if>
			<if test="groupNameNew != null"> t.group_name = #{groupNameNew},</if>
			<if test="tableNameNew != null"> t.table_name = #{tableNameNew},</if>
			<if test="apiNameNew != null"> t.api_name = #{apiNameNew},</if>
			<if test="apiPathNew != null"> t.api_path = #{apiPathNew},</if>
			<if test="apiTypeNew != null"> t.api_type = #{apiTypeNew},</if>
			<if test="sqlNew != null"> t.`sql` = #{sqlNew},</if>
			<if test="pageFlagNew != null"> t.page_flag = #{pageFlagNew},</if>
			<if test="paramsNew != null"> t.params = #{paramsNew},</if>
			<if test="opTypeNew != null"> t.op_type = #{opTypeNew},</if>
			<if test="remarkNew != null"> t.remark = #{remarkNew},</if>
			<if test="createTimeNew != null"> t.create_time = #{createTimeNew},</if>
			<if test="updateTimeNew != null"> t.update_time = #{updateTimeNew},</if>
			<if test="createByNew != null"> t.create_by = #{createByNew},</if>
			<if test="updateByNew != null"> t.update_by = #{updateByNew},</if>
			<if test="stateNew != null"> t.state = #{stateNew},</if>
			<if test="paramTypeNew != null"> t.param_type = #{paramTypeNew},</if>
		</set>
		where 1=1
		<include refid="query_where_cond"/>
	</update>

	<!-- 删除 -->
	<delete id="deleteByMap" parameterType="map">
		delete t from lowcode_api_info t where 1=1
		<include refid="query_where_cond"/>
	</delete>


</mapper>
