<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 数据源:[lowcode_data_source] -->
<mapper namespace="io.github.wujun728.api.core.mapper.DataSourceMapper">
	<!-- 基本查询语句 -->
	<sql id="select_entity_sql">
		select t.source_id, t.source_name, t.db_type, t.`driver`, t.`host`, t.`schema`,
		t.`port`, t.user_name, t.`password`, t.url, t.remark,
		t.create_time, t.update_time, t.create_by, t.update_by, t.state 
		from lowcode_data_source t
	</sql>

	<!-- 查询条件 -->
	<sql id="query_where_cond">
		<if test="sourceId != null"> and t.source_id = #{sourceId}</if>
		<if test="sourceIds != null and sourceIds !=''"> and t.source_id in (${sourceIds})</if>
		<if test="noSourceId != null"> and t.source_id != #{noSourceId}</if>
		<if test="sourceName != null and sourceName != ''"> and t.source_name = #{sourceName}</if>
		<if test="sourceNameLike != null and sourceNameLike != ''"> and t.source_name LIKE concat('%', #{sourceNameLike}, '%')</if>
		<if test="schema != null and schema != ''"> and t.`schema` = #{schema}</if>
		<if test="dbType != null and dbType != ''"> and t.db_type = #{dbType}</if>
		<if test="dbTypeLike != null and dbTypeLike != ''"> and t.db_type LIKE concat('%', #{dbTypeLike}, '%')</if>
		<if test="driver != null and driver != ''"> and t.`driver` = #{driver}</if>
		<if test="host != null and host != ''"> and t.`host` = #{host}</if>
		<if test="port != null and port != ''"> and t.`port` = #{port}</if>
		<if test="userName != null and userName != ''"> and t.user_name = #{userName}</if>
		<if test="userNameLike != null and userNameLike != ''"> and t.user_name LIKE concat('%', #{userNameLike}, '%')</if>
		<if test="password != null and password != ''"> and t.`password` = #{password}</if>
		<if test="createTimeStart != null and createTimeStart != ''"><![CDATA[ and t.create_time >= #{createTimeStart} ]]></if>
		<if test="createTimeEnd != null and createTimeEnd != ''"><![CDATA[ and t.create_time <= #{createTimeEnd} ]]></if>
		<if test="createBy != null"> and t.create_by = #{createBy}</if>
		<if test="updateBy != null"> and t.update_by = #{updateBy}</if>
		<if test="state != null and state != ''"> and t.state = #{state}</if>
	</sql>

	<!-- 分页查询 -->
	<select id="selectListByMap" parameterType="map" resultType="io.github.wujun728.api.core.vo.DataSourceVo">
		<include refid="select_entity_sql"/>
		<where>
		<include refid="query_where_cond"/>
			and t.state = 'Y'
		</where>
		<if test="sortName != null and sortName != ''">
			order by t.${sortName} 
			<if test="sortOrder != null and sortOrder != ''">${sortOrder}</if>
		</if>
		<if test="sortName == null or sortName ==''">
			order by t.create_time desc 
		</if>
		<if test="pageIndex != null and pageSize != null">
			limit ${(pageIndex-1)*pageSize },${pageSize}
		</if>
	</select>

	<!-- 查询总数 -->
	<select id="selectCountByMap" parameterType="map" resultType="long">
		select count(1) from lowcode_data_source t where 1=1 
		<include refid="query_where_cond"/>
		and t.state = 'Y'
	</select>

	<!-- 根据ID查询 -->
	<select id="selectById" parameterType="Integer" resultType="io.github.wujun728.api.core.vo.DataSourceVo">
		<include refid="select_entity_sql"/>
		where t.source_id = #{sourceId} and t.state = 'Y'
	</select>

	<!-- 修改ByMap -->
	<update id="updateByMap" parameterType="map">
		update lowcode_data_source t 
		<set>
			<if test="sourceNameNew != null"> t.source_name = #{sourceNameNew},</if>
			<if test="dbTypeNew != null"> t.db_type = #{dbTypeNew},</if>
			<if test="driverNew != null"> t.`driver` = #{driverNew},</if>
			<if test="schemaNew != null"> t.`schema` = #{schemaNew},</if>
			<if test="hostNew != null"> t.`host` = #{hostNew},</if>
			<if test="portNew != null"> t.`port` = #{portNew},</if>
			<if test="userNameNew != null"> t.user_name = #{userNameNew},</if>
			<if test="passwordNew != null"> t.`password` = #{passwordNew},</if>
			<if test="urlNew != null"> t.url = #{urlNew},</if>
			<if test="remarkNew != null"> t.remark = #{remarkNew},</if>
			<if test="createTimeNew != null"> t.create_time = #{createTimeNew},</if>
			<if test="updateTimeNew != null"> t.update_time = #{updateTimeNew},</if>
			<if test="createByNew != null"> t.create_by = #{createByNew},</if>
			<if test="updateByNew != null"> t.update_by = #{updateByNew},</if>
			<if test="stateNew != null"> t.state = #{stateNew},</if>
		</set>
		where 1=1
		<include refid="query_where_cond"/>
	</update>

	<!-- 删除 -->
	<delete id="deleteByMap" parameterType="map">
		delete t from lowcode_data_source t where 1=1
		<include refid="query_where_cond"/>
	</delete>


</mapper>
